name: Deploy Dataflow Pipeline

on:
  push:
    branches:
      - main
    paths: # dataflowに変更があった場合のみ実行するように変更
      - 'dataflow/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
        contents: 'read'
        id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: 'projects/559849484721/locations/global/workloadIdentityPools/juntan-github-v2/providers/github-actions-provider' # 新しいプールIDに変更
        service_account: 'github-actions-dataflow-sa@juntan-project-448407.iam.gserviceaccount.com'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.PROJECT_ID }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -r dataflow/fx_pipeline/requirements.txt

    - name: Deploy Dataflow Pipeline
      run: |
        python dataflow/fx_pipeline/main.py \
          --project_id ${{ env.PROJECT_ID }} \
          --region ${{ env.REGION }} \
          --temp_location gs://${{ env.GCS_BUCKET }}/tmp \
          --runner DataflowRunner \
          --save_main_session \
          --setup_file ./dataflow/fx_pipeline/setup.py \
          --streaming
      working-directory: ./
      env:
        PROJECT_ID: ${{ secrets.PROJECT_ID }}
        REGION: ${{ secrets.REGION }}
        GCS_BUCKET: ${{ secrets.GCS_BUCKET }}
        FINANCIAL_MODELING_PREP_API_KEY: ${{ secrets.FINANCIAL_MODELING_PREP_API_KEY }}
        FX_RATES_USDJPY_TOPIC_ID: ${{ secrets.FX_RATES_USDJPY_TOPIC_ID }}
        FX_RATES_EURUSD_TOPIC_ID: ${{ secrets.FX_RATES_EURUSD_TOPIC_ID }}
        FX_RATES_GBPJPY_TOPIC_ID: ${{ secrets.FX_RATES_GBPJPY_TOPIC_ID }}
        FX_RATES_GBPUSD_TOPIC_ID: ${{ secrets.FX_RATES_GBPUSD_TOPIC_ID }}
        FX_RATES_EURJPY_TOPIC_ID: ${{ secrets.FX_RATES_EURJPY_TOPIC_ID }}